@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* LOADING INÍCIO */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  animation: waviy 1.3s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #fff;
}
.waviy span {
  color: #ffb113;
}

[data-theme-version="dark"] #preloader {
  background: #171622;
}

[data-theme-version="dark"] .waviy span {
  color: #fff;
}
/* LOADING FIM */

/* SIDEBAR INÍCIO */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #ffb113;
  padding: 1rem 0.8rem;
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
}

.sidebar #btn {
  position: absolute;
  color: #000000;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
  font-weight: 700;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar .top .logo img{
  width: 150px;
}

.sidebar.active .top .logo {
  opacity: 1;
}

.top .logo i {
  font-size: 2rem;
  margin-right: 5px;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: #000000;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: #b51df3;
  color: #12171e;
  transition: all 0.5s ease-in-out;

}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
  font-weight: 700;
}

.sidebar .nav-item {
  opacity: 0;
}

.sidebar.active .nav-item {
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 135px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
}

.sidebar.active ul li .tooltip {
  display: none;
}
/* SIDEBAR FIM */


/* MAIN CONTENT INÍCIO */
.main-content {
  position: relative;
  background-color: #eee;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
}

.cards-superior {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  align-items: flex-start;
  align-content: center;
  width: 100%;
  background-color: #2f1d58;
  overflow: auto;
  flex-direction: row;
}

.cards-superior div {
  width: 300px;
  height: 100px;
  margin: 5px;
  background-color: lightblue;
}

.cards-main {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  align-items: flex-start;
  align-content: center;
  width: 100%;
  height: 700px;
  background-color: #2f1d58;
  overflow: auto;
  flex-direction: row;
}
.cards-main div {

}
/* MAIN CONTENT FIM */